.main-btn {
    border: none;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.main-btn:hover {
    background-color: blue;
 }
