.launches-card {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.launches-card:hover {
    box-shadow: 1px 1px 10px gray;
}

.launches-card-image {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.launches-card-image img {
    height: 100%;
    width: 100%;
}

.launches-card-detail h5 {
    font-size: 18px;
    font-weight: 600;
}

.launches-card-detail p {
    color: blue;
    font-weight: 500;
}

.launches-card-detail p:nth-child(3) {
    color: gray;
}