.card {
    text-align: center;
}

.card:hover {
    box-shadow: 1px 1px 10px gray;
}

.card-image {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.card-image img {
    height: 100%;
    width: 100%;
}

.card-detail h5 {
    font-size: 18px;
    font-weight: 600;
}

.card-detail p {
    color: blue;
}