.search-bar input {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    padding: 0px 10px;
}

.search-bar button {
    padding: 12px 25px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
}