.navbar {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    padding: 0px 10px;
    margin-bottom: 50px;
}

.log-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log-links {
    display: flex;
    align-items: center;
}

.log-links p {
    margin: 0px 15px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-weight: 700;
    font-size: 35px;
    margin-right: 25px;
}

.brand a {
    text-decoration: none;
    color: blueviolet;
}

.brand a:hover {
    color: blue;
}

.menu {
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: 500;
}

.menu li a {
    text-decoration: none;
    padding: 5px 10px;
    color: blueviolet;
}

.menu li a:hover {
    color: blue;
}

.services-menu {
    display: none;
    list-style: none;
    position: absolute;
    min-width: 130px;
    z-index: 1;
    padding: 0%;
    font-size: 18px;
    background-color: gold;
}

.services-menu li {
    margin: 5px 0px;
}

.services-menu li a:hover {
    padding: auto 65px;
}

#services:hover {
    .services-menu {
        display: block;
    }
}

.services-sub-menu {
    display: none;
    list-style: none;
    position: absolute;
    z-index: 2;
    min-width: 130px;
    top: 0px;
    left: 125px;
    padding: 0%;
    background-color: gold;
}

.services-sub-menu li {
    margin: 5px 0px;
}

#services1:hover {
    .services-sub-menu {
        display: block;
    }
}