.navbar {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    padding: 0px 10px;
}

.log-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log-links {
    display: flex;
    align-items: center;
}

.log-links button {
    font-weight: 600;
    color: blue;
    border: 2px solid blue;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.log-links button:hover {
    background-color: blue;
    color: white;
}

.log-links p {
    margin: 0px 15px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-weight: 700;
    font-size: 40px;
}

.brand a {
    text-decoration: none;
    color: blue
}

.brand a:hover {
    color: blueviolet;
}

.menu {
    list-style: none;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    background-color: orange;
    padding: 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.menu li a {
    border: 2px solid transparent;
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.menu li a:hover {
    background-color: blue;
    color: white;
    border: 2px solid blue;
}

.services-menu {
    text-align: center;
    display: none;
    list-style: none;
    position: absolute;
    z-index: 1;
    min-width: 120px;
    padding: 0%;
    margin: 5px 0px;
    font-size: 16px;
    background-color: orange;
}

.services-menu li {
    margin: 10px auto;
}

.services-menu li a:hover {
    color: white;
    background-color: blue;
}

#services:hover {
    .services-menu {
        display: block;
    }
}

.services-sub-menu {
    display: none;
    list-style: none;
    position: absolute;
    z-index: 1;
    min-width: 130px;
    top: 0px;
    left: 120px;
    padding: 0%;
    background-color: orange;
}

.services-sub-menu li {
    margin: 10px auto;
}


#services1:hover {
    .services-sub-menu {
        display: block;
    }
}