.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-weight: 700;
    font-size: 30px;
}

.brand a {
    text-decoration: none;
}

.brand a:hover {
    color: blue;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu li {
    font-size: 20px;
    font-weight: 500;
}

.menu li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.menu li a:hover {
    border: 1px solid blue;
    color: blue;
}