.error {
    text-align: center;
}

.error-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-status h3 {
    color: red;
    font-size: 25px;
}

#error-divider {
    color: black;
    margin: 0px 10px;
}

.error-data {
    font-size: 20px;
}

.back-btn {
    border: 1px solid transparent;
    text-decoration: none;
    padding: 10px 20px;
}

.back-btn:hover {
    color: blue;
    border: 1px solid blue;
 }

